.d-flex{
    display:flex;
}

.flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.flex-hCenter{
    display:flex;
    justify-content: center;
}

.flex-vCenter{
    display:flex;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.in-block{
    display: inline-block;
}

a{
    text-decoration: none;
    cursor: pointer;
}

button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}